body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

header {
    width: 100%;
    height: 150px;
    margin-left: -8px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #BA3A13;
    margin-top: 50px;
}

#para {
    text-align: center;
}

.parallax {
    /*background image effect on the first page*/
    /* The image used */
    background-image: url("teampic.jpg");
    /* Set a specific height */
    min-height: 900px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 180px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    background-color: #BA3A13;
    margin-left: 15%;
    margin-top: -90px;
}

#moto {
    float: right;
    color: white;
    font-size: 30px;
    margin-top: 15px;
    margin-right: 15%;
    font-family: Courier New;
}

.sidebar {
    margin-top: -20px;
    float: left;
    max-height: 1200px;
    width: 24%;
    font-family: Courier New;
}

.sidebar1 {
    margin-top: -20px;
    float: left;
    height: 900px;
    width: 24%;
}

#sidebarLinks {
    list-style-type: none;
    font-size: 25px;
    color: black;
}

a {
    /*just to give the bullets of the list away*/
    text-decoration: none;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a:hover {
    color: #BA3A13;
}

.mainContent {
    background-color: #D3D3D3;
    float: left;
    width: 60%;
    margin-right: 15%;
    color: white;
}

footer {
    font-family: Courier New;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: +100;
    height: 60px;
    background-color: #BA3A13;
    margin-top: -90px;
    -webkit-animation-name: example;
    */for the color animation*/ -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
}

#copyright {
    font-size: 25px;
}


/*for the footer colour changer*/

@-webkit-keyframes example {
    0% {
        background-color: #BA3A13;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: green;
    }
}

@keyframes example {
    0% {
        background-color: #BA3A13;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: green;
    }
}


/*all classes for the news page*/

.mainContent1 {
    background-color: #D3D3D3;
    float: left;
    max-height: 270px;
    max-width: 60%;
    margin-right: 15%;
    color: black;
    font-size: 20px;
    text-align: center;
    font-style: oblique;
}

.mainContent2 {
    background-color: #D3D3D3;
    float: left;
    max-height: 200px;
    max-width: 60%;
    margin-right: 15%;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 1%;
    font-style: oblique;
}

.mainContent3 {
    background-color: #D3D3D3;
    float: left;
    max-height: 200px;
    max-width: 60%;
    margin-right: 15%;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 1%;
    font-style: oblique;
}

.mainContent4 {
    background-color: #D3D3D3;
    float: left;
    max-height: 200px;
    max-width: 60%;
    margin-right: 15%;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 1%;
    font-style: oblique;
}

#content1 {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


/*styling for the blog*/

.mainContentBlog {
    float: left;
    height: 1950px;
    width: 60%;
    margin-right: 15%;
    color: black;
    font-style: oblique;
    font-size: 20px;
}

.mainContentBlog img {
    height: 100px;
    width: 100px;
    float: left;
    overflow: hidden;
    transition: all 1s ease;
}

.mainContentBlog h2 {
    color: #BA3A13;
}

.mainContentBlog div {
    background-color: #D3D3D3;
    margin-top: 1%;
}

#foto:hover {
    cursor: pointer;
    height: 300px;
    width: 300px;
}

#sideBlog {
    height: 1200px;
}

#words {
    margin-top: 600px;
    margin-left: 35%;
}


/*styling for the about us page*/

#profilPicture {
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    width: 316px;
    height: 350px;
}


/*for the speech bubble*/

#profilName {
    float: left;
    margin-left: -80px;
}



/*for the content*/

#profilContent {
    float: left;
    width: 450px;
    max-height: 200px;
    margin-left: -120px;
    padding-top: 180px;
    padding-right: 50px;
    color: black;
    font-size: 20px;
    font-style: oblique;
}

#mainContent_about_us {
    /*id class for the maincontent*/
    background-color: #D3D3D3;
    float: left;
    max-height: 450px;
    width: 60%;
    margin-right: 15%;
    color: white;
}

#breakpoint {
    background-color: white;
    text-decoration: none;
    font-family: Courier New;
    font-size: 14pt;
}


/*styling contact page*/

#contact {
    float: left;
    font-size: 14pt;
    padding-right: 50px;
}

#map {
    float: left;
}

.breakpoint {
    display: none;
}


/*responsive*/

@media screen and (max-width: 800px) {

    .sidebar {
        display: none;
    }
    .sidebar1 {
        display: none;
    }
    .breakpoint {
        display: inline;
    }

    .breakpoint ul {
        display: inline;
        height: 50px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    .breakpoint li {
        list-style: none;
        float: left;
    }
    .breakpoint a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: Courier New;
        font-size: 14pt;
    }
    #moto {
        display: none;
    }
}